body {
    font-family: 'Roboto', sans-serif;
  }
  .logo-placeholder {
    width: 100px;
    height: 100px;
  }
  
  .nav-link {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .nav-link.active {
    font-weight: bold;
    background-color: #f8f9fa;
  }
  
  .sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
  }
  
  .content-placeholder {
    min-height: 500px;
    background-color: #f8f9fa;
    color: #6c757d;
  }
  .borde-content{
    border-radius: 5px;
    border: 1px solid #dee2e6;
    padding: 10px;
    height: 100vh;
  }
  .custom-navbar-bg {
    background-color: #e7ffb6;
  }

.dropdown-menu li:not(.li-linea-divisora) {
    cursor: pointer;
}

@media (max-width: 425px) {
    .card {
        width: 14rem;
    } 
}

@media (min-width: 426px) {
    .card {
        width: 20rem;
    }
}
