<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3bd8f920-6cea-4aba-b4c8-c097a2934e10/resourcegroups/FUKLBD2/providers/Microsoft.Web/sites/Human-Link-WebServer20241119131724</ResourceId>
    <ResourceGroup>FUKLBD2</ResourceGroup>
    <ApiResourceId>/subscriptions/3bd8f920-6cea-4aba-b4c8-c097a2934e10/resourceGroups/FUKLBD2/providers/Microsoft.ApiManagement/service/Human-Link-WebServerapi/apis/Human-Link-WebServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://human-link-webserver20241119131724.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>18e186d1-2442-4acc-bfe8-3a752a542c16</ProjectGuid>
    <MSDeployServiceURL>human-link-webserver20241119131724.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Human-Link-WebServer20241119131724</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Human-Link-WebServer20241119131724</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>