.estadisticas-container {
    padding: 2rem;
    /*background-color: #f4f4f7;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.estadisticas-title {
    font-size: 1.8rem;
    color: #333333;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.estadisticas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.estadistica-card {
    background-color: #e1e8ed;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    border: 2px solid transparent;
}

    .estadistica-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border-color: #6f93ff;
    }

    .estadistica-card h3 {
        font-size: 1.2rem;
        color: #4a4a4a;
        margin-bottom: 0.5rem;
    }

    .estadistica-card p {
        font-size: 1.8rem;
        font-weight: bold;
        color: #333333;
        margin: 0px;
    }

    .estadistica-card:nth-child(1) {
        background-color: #ffcc80;
    }

    .estadistica-card:nth-child(2) {
        background-color: #80deea;
    }

    .estadistica-card:nth-child(3) {
        background-color: #aed581;
    }

    .estadistica-card:nth-child(4) {
        background-color: #ff6767;
        /*#ff6767 rojo claro*/
    }

    .estadistica-card:nth-child(5) {
        background-color: #fff59d;
        /*#fff59d amarillo claro*/
        /*#64b5f6 azul claro medio oscuro*/
    }

    .estadistica-card:nth-child(6) {
        background-color: #9c9898;
    }

/* Responsividad */
@media (max-width: 768px) {
    .estadisticas-grid {
        grid-template-columns: 1fr;
    }
}
